main {
    width: 100%; 
}

.list1 {
    color: #000080;
}

.list2 {
    color: #000080;
}

.list3 {
    color: #000080;
}

.list4 {
    color: #000080;
}

.list5 {
    color: #000080;
}

.list6 {
    color: #000080;
}

p {
    color: #000; 
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.donation-content {
  padding-top: 20px;
}

.donation-content li {
  margin-bottom: 25px;
}